/* Advice Section */
.advice-section {
  margin-top: 20px;
  padding: 20px;
  background-color: #3c5c5e;
  border-radius: 10px;
}

.advice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advice-column {
  width: 23%;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  padding: 20px;
  background-color: #eedea5;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.advice-column:hover {
  background-color: #f3d8cb;
}

.advice-column h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #593d35;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.advice-column ul {
  padding-left: 20px;
}

.advice-column li {
  margin-bottom: 5px;
  color: #594e45;
}

.advice-image {
  margin-bottom: 10px;
}

.advice-image img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-content p {
  margin-bottom: 10px;
  color: #594e45;
}

.close-btn {
  cursor: pointer;
  color: #888;
  float: right;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #593d35;
}

#meal-form {
  margin-bottom: 20px;
}
.advicetitle {
  color: #eedea5;
  font-size: 24px;
  margin-bottom: 20px;
}